@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@500;700&family=Montserrat:ital,wght@1,500;1,700&family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');



:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: var(--grayish-blue);
}

.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 250px auto;
    overflow: hidden;
    background-color: var(--light-grayish-blue);
    max-width: 900px;
    height: 440px;
    border-radius: 10px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    font-size: 23px;
    color: var(--very-dark-grayish-blue);
}

.paragraph{
    color: var(--desaturated-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.avatar-information{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    color: var(--very-dark-grayish-blue);
    font-weight: bold;
}


.avatar-information span{
    color: var(--grayish-blue);
}

.cicle-pic{
    border-radius: 50%;
}

.avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}